body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hover:hover {
  cursor: pointer;
}
.game {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* max-height: 812px; */
  max-width: 375px;
}
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 8%;
  width: 375px;  
  height: 100vh; /* Full height */
  background-color: white;
}
.welcome, .instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message {
  text-align: center;
}
.next, .play {
  color: white;
  background-color: black;
}

.title {
  color: white;
  font-size: 2em;
}
.game-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.25fr .75fr 1fr 10fr 1fr
}
.buttons-container {
  display: flex;
  align-items: center;
}
.number-options-container {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
}
.show-instructions {
  /* display: flex;
  justify-content: center; */
  color: black;
  background-color: white;
}
.number-options {
  display: flex;
}

.default {
  cursor: default;
}
.new-game {
  background-color: white;
  /* width: 100%;
  height: 100% */
}
.game-board {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr)
}
.row {
  display: flex;
  align-items: center;
}
.submit {
  color: white;
}
.feedback-zone {
  color: white
}
.secret-container {
  display: flex;
  align-items: center;

}
.secret {
  display: flex;
 
}
.number-element{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  /* max-width: 40px; */
  /* max-height: 40px; */
  margin: 5px;
  /* background-color: white; */
}
.number-text-container {
  text-align: center;
  height: 20px;
  width: 20px;
}
.hidden {
  display: none
}
.outcome{
  color: white
}
.red {
  background-color: #fe2a4e;
}
.orange {
  background-color: #febb2a;
}
.yellow {
  background-color: #defe2a;
}
.green {
  background-color: #5fde42;
}
.blue {
  background-color: #2adefe;
}
.purple {
  background-color: #8b54fe;
}
.pink {
  background-color: #ff00ea;
}
.white {
  background-color: white;
}